@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.searchNav {
    background-color: transparent !important;
    margin-top: 15px;
}

body {
    z-index: 0;
    margin-top: 90px;
    background-color: #E6E6E6;
}

.fillImage {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fillImage img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.navbar {
    background-color: #05727A;
}

.btn-orange {
    background-color: #D14532;
    color: #fff;
}
.btn-orange:hover {
    background-color: #B91F0B;
    color: #fff;
}

.btn-access {
    background-color: #FFF;
    color: #05727A;
    margin: 10px;
}

.titleP {
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    line-height: 1rem;
    color: #252525;
    font-weight: 300;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: #252525;
    margin-top: 30px;
    margin-left: 15px;
    text-transform: uppercase;
    line-height: 2rem;
    font-weight: 700;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #252525;
    margin-top: 100px;
}

.NavLogo {
    width: auto;
    height: 50px;
    margin-left: 20px;
}

.characterTitle {
    margin-top: 25px !important;
    color: #252525;
}

.fa {
    align-self: center;
    padding: 15px;
}

.footerLegal {
    color: #fff;
}

hr {
    border: 2px solid #FFF;
    border-radius: 25px;
}

#carouselExampleCaptions {
    margin-top: 50px !important;
}

.carousel-item {
    width: 100%;
    max-height: 425px !important;
}

.heroImage {
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: fill !important;
    position: relative;
    width: 100%;
    filter: brightness(50%);
    margin-top: 50px;
}

.cardShape {
    background-color: #FFF;
    border-radius: 5px;
    margin-bottom: 30px !important;
}

.shapeImageTop {
    width: 350; 
    height: auto; 
    background-size: cover;
}

.card-img-top {
    width: 350; 
    height: auto; 
    background-size: cover;
}

.cardShapeSingle {
    background-color: #FFF;
    border-radius: 5px;
    margin-bottom: 30px !important;
}

.shapeImageTopSingle {
    width: 320px; 
    height: 300px; 
    object-fit: cover;
    object-position: 20% 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #252525;
}

.card-body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px !important;
    color: #252525;
}

.card-text {
    line-height: normal;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #252525;
}

.footerContainer {
    text-align: center;
    background-color: #05727A;
    height: 100px;
    color: #fff;
}

.dropdown-item:hover {
    background-color: #D14532 !important;
    color:#000 !important;
}

.btn-outline-orange {
    background-color: #D14532 !important;
    color:#000 !important;
}

.btn-outline-orange::after {
    background-color: #D14532 !important;
    color:#000 !important;
}
.calorieTitle{
    padding-top:-20px;
}
.card-text-diet{
    width: 225px;
    margin: auto;
}
.personalDietCircle{
    border-radius: 50%;
    width: 395px;
    margin: auto;
}
.dietCircleTitle{
    margin-top: 45px;
}
.dashboard{
    background-color:#05727A;
}